body {
	font-size: 14px;
}

header {
	padding: 50px 20px;
	border: 0;
	border-bottom: 1px solid #dedede;
    background: #020811;
    color: #fff;
    
}

header h1 {
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 30px;
    color: #f0ab28;
}

section {
	padding-top: 30px;
}

pre.prettyprint {
	background: #fff;
	padding: 10px 5px;
	border: 1px solid #d8d8d8;
	font-size: 15px;
}

div.affix {
	top: 60px;
}

@media (max-width: 767px) {
	div.affix {
		top: 0;
		position: relative;
	}
}

footer {
	padding: 30px 20px;
}


header h3 {
    font-size: 40px;
}
header h4 {
    font-size: 30px;
    line-height: 30px;
}


			footer {
				background:  #0e4680;
				color: #fff;
			}
			footer a, footer a:hover, footer a:active, footer a:visited {
				color: #fff;
			}
			.buttons-share {
				padding: 10px;
				background: #ededed;
				border-bottom: 1px solid #dedede;
			}
			ul.the-icons {
				list-style: none;
			}

			ul.the-icons li {
				float: left;
				width: 20%;
				margin: 0;
				padding: 5px 10px;
			}
			@media (max-width: 480px) {
				header h1 {
					font-size: 60px;
				}
				header h3 {
					font-size: 30px;
				}
				header h4 {
					font-size: 20px;
				}
			}
			@media (max-width: 979px) {
				body {
					padding-top: 0;
				}
				.navbar-fixed-top {
					margin-bottom: 0;
				}
				header h1 {
					font-size: 60px;
				}
				header h3 {
					font-size: 35px;
				}
				header h4 {
					font-size: 20px;
				}
			}
			@media (max-width: 767px) {
				body {
					font-size: 13px;
				}
				header, .buttons-share {
					margin: 0 -20px;
				}
				header h1 {
					font-size: 50px;
				}
				header h3 {
					font-size: 30px;
				}
				header h4 {
					font-size: 15px;
				}
				footer {
					margin: 0 -20px;
				}
			}